.movies__button-more {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 320px;
  height: 36px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: inherit;
  margin-top: 50px;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.movies__button-more:hover {
  opacity: 0.8;
}

.movies__container {
  display: grid;
  grid-column: span 4;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .movies__container {
    grid-column: span 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies__container {
    grid-column: span 2;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__container {
    grid-column: span 1;
  }
}

.movies-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 80px 70px 0 70px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 10px 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-list {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .movies-list {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.movies__container_hidden {
  visibility: hidden;
}

.movies__notfound {
  text-align: center;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
}
